body{
    margin: 0;
    padding: 0;
    
    
}
.content{
    max-width: 1200px;
    width: 90%;
    padding: 20px;
    text-align: justify;
    margin: 0 auto;
    transform-origin: top left;
    transition: transform 0.5s ease-in-out;
}

h2{
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
}

#author{
    margin: 0;
    padding: 0;
}

p{
    font-size: 18px;
}

img{
    height: 700px;
    max-width: 1200px;
    width: 90%;
}

.menu{
    font-size: 28px;
    color: rgb(234, 151, 164);
    position: absolute;
}

.navBar{
    position: relative;
    display: none;
}

.navBar.active{
    display: block;
}

.rotate{
    transform: rotate(-20deg);
}